/*Modals*/
.project-modal > figure {
  margin: 0;
}

.project-modal > figure > img {
  width: 100%;
}

/*Page*/
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #eee;
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

/*Header*/
body > header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 3px solid crimson;
}

.header--logo {
  flex: 1 0 0;
}

.header--logo > span {
  font-size: 2.5em;
}

.header--title {
  flex: 2 0 0;
  text-align: right;
}

.header--title > h1 {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  font-weight: lighter;
  font-size: 2.2em;
  color: crimson;
}

.header--title > h2 {
  font-size: 1em;
  text-transform: uppercase;
}

/*Main*/
main {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-bottom: 3px solid crimson;
}

/*Main image*/
.main-image {
  margin: 0 0 10px 0;
}

.main-image > img {
  width: 100%;
}

/*Featured Works*/
.featured-works {
  display: flex;
  flex-direction: column;
}

.featured-works--title {
  text-align: center;
  color: crimson;
}

.featured-works--projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 300px;
  margin-top: 10px;
}

.project--figure {
  margin: 0;
}

.project--figure > img {
  width: 100%;
}

.project--caption {
  text-align: center;
}

.project--caption > h3 {
  text-transform: uppercase;
}

.project--caption > p {
  font-size: 0.9em;
}

/*Footer*/
body > footer {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
